/** Form CSS **/

/***START RWD***/

form input, form select{
	margin-bottom: 10px;
}

form label{
/*	font-weight:normal;*/
/*	font-weight:700;*/
  /*	font-size:1.1em;  */
}

.row{
	margin-bottom: 15px;
/*	margin-bottom: 5px;*/
}

.button_row{
	text-align: center;
	margin-top: 5px;
}

.button_row_right{
	text-align: right;
	margin-top: 5px;
}

.mandatory_colour{
	color: red;
}

.alignment_Mandatory {	
    position:relative;	
    margin-left:210px;	
    margin-top:-28px;
    width: 650px;

.row_highlight {
	font-weight: bold;
	color: blue;
}
.row_highlight label {
	font-weight: bold;
	color: blue;
}
/***END RWD***/